<div class="page-header">
    <h1>Internal Chat</h1>
</div>
<div class="row">
    <div class="col-lg-3">
        <h2>Online Users:</h2>

        <div id="onlineUser">
            <div class="onlineUser-list" ng-repeat="user in users track by $index">
                <div class="text-center">
                    {{user}}
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-9">
        <h2>Chat:</h2>

        <div id="chatMessages">
            <div ng-repeat="message in messages track by $index">
                <div class="row">
                    <div class="popover {{nickname == message.nickname ? 'right pull-right' : 'left pull-left'}}"
                         role="tooltip">
                        <div class="arrow"></div>
                        <h3 class="popover-title">{{message.nickname}}
                            <small>{{message.time}}</small>
                        </h3>

                        <div class="popover-content">
                            {{message.message}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-10">
                        <input id="message_input" class="form-control input-lg" type="text"/>
                    </div>
                    <div class="col-lg-2">
                        <button id="sendMessage" type="submit" class="btn btn-default input-lg">Absenden</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>