/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}

/* popover */

.popover-title {
    padding: 8px 14px;
    margin: 0px;
    font-size: 14px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    color: #D70929;
    border-radius: 5px 5px 0px 0px;
}

.popover-content {
    padding: 9px 14px;
}

.popover {
    position: relative;
    float: left;
    width: 260px;
    margin: 20px 20px 20px 26px;
    top: 0px;
    left: 0px;
    z-index: 1060;
    max-width: 276px;
    padding: 1px;
    text-decoration: none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0px 5px 10px rgba(215, 9, 41, 0.2);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.42857;
    text-align: start;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 14px;
}

.popover.right {
    margin: 20px 26px 20px 20px;
}

.popover.right > .arrow {
    right: -11px;
    margin-top: 21px;
    border-right-width: 0px;
    border-left-color: rgba(0, 0, 0, 0.25);
}

.popover.left > .arrow {
    left: -12px;
    margin-top: 23px;
    border-right-color: rgba(0, 0, 0, 0.25);
    border-left-width: 0px;
}
.popover > .arrow {
    border-width: 11px;
}
.popover > .arrow, .popover > .arrow::after {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    border-color: transparent;
    border-style: solid;
}

#chatMessages {
    overflow-y: scroll;
    height: 300px;
    margin-bottom: 10px;
}

.onlineUser-list {
    margin: 0 0 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}